<div class="top-container">
    <div class="top-container__title-container">
        <h2 class="top-container__title">Surfcamps</h2>
        <p class="top-container__info" *ngIf="surfcamps">
            Showing {{ surfcamps.length }} surfcamps
        </p>
        <app-filter
            (filterEvent)="handleFilter($event)"
            *ngIf="filterState"
        ></app-filter>
    </div>
    <fa-icon
        (click)="toggleFilter()"
        class="top-container__filter-icon"
        [icon]="faFilter"
    ></fa-icon>
</div>
<div class="surfcamps">
    <div
        (click)="goToDetails(surfcamp._id)"
        *ngFor="let surfcamp of surfcampsWithLocation"
        class="surfcamp"
    >
        <div class="surfcamp__img-container">
            <img
                [src]="
                    (surfcamp.photos[0] && surfcamp.photos[0].photoUrl) ||
                    'https://m.psecn.photoshelter.com/img-get2/I0000eXqe0K.cKrg/sec=/fit=1200x1200/I0000eXqe0K.cKrg.jpg'
                "
                alt=""
                class="surfcamp__img"
            />
        </div>
        <div class="surfcamp__info-container">
            <div class="surfcamp__star-container">
                <fa-icon
                    *ngFor="let star of surfcamp.starArr"
                    class="surfcamp__star--yellow"
                    [icon]="faStar"
                ></fa-icon>
                <fa-icon
                    *ngFor="let emptyStar of surfcamp.emptyStarArr"
                    class="surfcamp__star--grey"
                    [icon]="faStar"
                ></fa-icon>
            </div>
            <p class="surfcamp__location">{{ surfcamp.locationString }}</p>
            <p class="surfcamp__name">{{ surfcamp.name }}</p>
            <p class="surfcamp__info">
                {{ surfcamp.packages && surfcamp.packages.length }} packages
            </p>
            <div class="surfcamp__skill-container">
                <p
                    class="surfcamp__skill"
                    *ngFor="let skill of surfcamp.skillLevels"
                >
                    {{ skill }}
                </p>
            </div>
        </div>
    </div>
</div>
