<div class="surfcamps">
    <h2>Surfcamps</h2>
    <p *ngIf="surfcamps">Showing {{ surfcamps.length }} surfcamps</p>
    <fa-icon
        (click)="toggleFilter()"
        class="surfcamps__filter-icon"
        [icon]="faFilter"
    ></fa-icon>
    <app-filter
        (filterEvent)="handleFilter($event)"
        *ngIf="filterState"
    ></app-filter>
    <div *ngFor="let surfcamp of surfcamps" class="surfcamp">
        <div class="surfcamp__img-container">
            <img
                [src]="
                    (surfcamp.photos[0] && surfcamp.photos[0].photoUrl) ||
                    'https://m.psecn.photoshelter.com/img-get2/I0000eXqe0K.cKrg/sec=/fit=1200x1200/I0000eXqe0K.cKrg.jpg'
                "
                alt=""
                class="surfcamp__img"
            />
        </div>
        <div class="surfcamp__info-container">
            <div class="surfcamp__star-container">
                <fa-icon
                    *ngFor="let star of surfcamp.starArr"
                    class="surfcamp__star--yellow"
                    [icon]="faStar"
                ></fa-icon>
                <fa-icon
                    *ngFor="let emptyStar of surfcamp.emptyStarArr"
                    class="surfcamp__star--grey"
                    [icon]="faStar"
                ></fa-icon>
            </div>
            <p class="surfcamp__location">{{ surfcamp.location }}</p>
            <p class="surfcamp__name">{{ surfcamp.name }}</p>
            <p class="surfcamp__info">
                {{ surfcamp.packages.length }} packages
            </p>
            <div class="surfcamp__skill-container">
                <p
                    class="surfcamp__skill"
                    *ngFor="let skill of surfcamp.skillLevels"
                >
                    {{ skill }}
                </p>
            </div>
        </div>
    </div>
</div>
