@use "../../../scss/variables";

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    position: relative;
    background-color: variables.$primary-color;

    &__link {
        position: absolute;
        right: 0;
    }

    &__add-icon {
        font-size: 1.5rem;
        color: variables.$secondary-color;
        cursor: pointer;
        transition: 0.3s ease all;

        &:hover {
            color: variables.$secondary-color-dark !important;
            transition: 0.3s ease all;
        }
    }

    &__top-container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        row-gap: 1rem;
    }

    &__title {
        align-self: flex-start;
        color: variables.$light-gray-color;
    }

    &__info {
        align-self: flex-start;
        color: variables.$dark-gray-color;
    }
}

.photo {
    display: flex;
    flex-direction: column;
    width: 90%;

    &__img-container {
        position: relative;
        width: 100%;

        &:hover .photo__overlay {
            opacity: 1;
            transition: 0.3s ease all;
        }
    }

    &__overlay {
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        opacity: 0;
        transition: 0.3s ease all;
    }

    &__delete-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5rem;
        color: variables.$secondary-color;
        cursor: pointer;
        transition: 0.3s ease all;

        &:hover {
            color: variables.$secondary-color-dark;
            transition: 0.3s ease all;
        }
    }

    &__img {
        width: 100%;
        display: block;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    &__description-container {
        padding: 1rem;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: variables.$tertiary-color;
        color: variables.$light-gray-color;
    }
}

@media (min-width: 768px) {
    .gallery {
        border: 1px solid black;
        border-radius: 1rem;
        margin-top: 2rem;
        box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.2);
        padding: 3rem;
        flex-direction: column;
        max-width: 700px;
        width: 100vw;

        &__link {
            right: 100px;
        }

        &__add-icon {
            font-size: 2rem;
        }
    }

    .photo {
        width: 400px;
    }
}
