@use "../../scss/variables";

.login {
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 90vw;
    max-width: 400px;
    background-color: variables.$primary-color;

    label {
        color: variables.$light-gray-color;
    }

    &__title {
        margin-bottom: 1rem;
        align-self: center;
        color: variables.$light-gray-color;
    }

    &__error-msg {
        align-self: center;
        color: red;
    }

    &__loading {
        width: 50px;
        height: 50px;
        background-color: variables.$secondary-color;
        animation: rotate ease 3s infinite;
        align-self: center;
    }

    &__radio-outer-container {
        display: flex;
        column-gap: 1rem;
        align-self: center;
    }

    &__radio-container {
        display: flex;
        column-gap: 1rem;
        align-items: center;
    }

    &__radio-btn {
        border: none;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__input {
        padding: 0.8rem 0.8rem;
        border-radius: 1.5rem;
        border: none;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}
