<div class="top-container">
    <div class="top-container__title-container">
        <h2 class="top-container__title">Packages</h2>
        <p class="top-container__info" *ngIf="packages">
            Showing {{ packages.length }} packages
        </p>
        <app-filter
            (filterEvent)="handleFilter($event)"
            *ngIf="filterState"
        ></app-filter>
    </div>
    <fa-icon
        (click)="toggleFilter()"
        class="top-container__filter-icon"
        [icon]="faFilter"
    ></fa-icon>
</div>
<div class="packages">
    <div
        (click)="goToDetails(package)"
        *ngFor="let package of packagesWithLocation"
        class="package"
    >
        <div class="package__img-container">
            <img
                [src]="
                    'https://m.psecn.photoshelter.com/img-get2/I0000eXqe0K.cKrg/sec=/fit=1200x1200/I0000eXqe0K.cKrg.jpg'
                "
                alt=""
                class="package__img"
            />
        </div>
        <div class="package__info-container">
            <div class="package__star-container">
                <fa-icon
                    *ngFor="let star of package.surfcamp.starArr"
                    class="package__star--yellow"
                    [icon]="faStar"
                ></fa-icon>
                <fa-icon
                    *ngFor="let emptyStar of package.surfcamp.emptyStarArr"
                    class="package__star--grey"
                    [icon]="faStar"
                ></fa-icon>
            </div>
            <p class="package__location">
                {{ package.surfcamp.locationString }}
            </p>
            <p class="package__name">{{ package.name }}</p>
            <div class="package__bottom-info">
                <p class="package__info-price">€{{ package.price }}</p>
                <p class="package__info-large">{{ package.days }} days</p>
                <p class="package__info">{{ package.surfcamp.name }}</p>
                <div class="package__skill-container">
                    <p
                        class="package__skill"
                        *ngFor="let skill of package.surfcamp.skillLevels"
                    >
                        {{ skill }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
