@use "../../scss/variables";

.top-container {
    position: relative;
    display: flex;
    margin-bottom: 2rem;

    &__title-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__title {
        color: variables.$light-gray-color;
    }

    &__info {
        color: variables.$light-gray-color;
    }

    &__filter-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        color: variables.$secondary-color;
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.3s ease all;

        &:hover {
            color: variables.$secondary-color-dark;
            transition: 0.3s ease all;
        }
    }
}

.packages {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
}

.package {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s ease all;

    &:hover {
        transform: scale(1.01);
        transition: 0.3s ease all;
    }

    &__img-container {
        width: 100%;
    }

    &__img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
        display: block;
    }

    &__info-container {
        padding: 0.5rem 1rem 1rem 1rem;
        border: 1px solid variables.$primary-color;
        background-color: variables.$primary-color;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
        row-gap: 0.5rem;
    }

    &__star-container {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__star {
        &--yellow {
            color: variables.$secondary-color;
        }
        &--grey {
            color: rgb(204, 204, 204);
        }
    }

    &__location {
        color: grey;
    }

    &__name {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: variables.$light-gray-color;
    }

    &__bottom-info {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
    }

    &__info-price {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-size: 1.2rem;
        color: variables.$light-gray-color;
    }

    &__info-large {
        font-size: 1rem;
        color: variables.$light-gray-color;
    }

    &__info {
        font-size: 0.8rem;
        color: variables.$light-gray-color;
    }

    &__skill-container {
        display: flex;
        column-gap: 0.4rem;
    }

    &__skill {
        font-size: 0.7rem;
        color: variables.$light-gray-color;
    }
}

@media (min-width: 768px) {
    .top-container {
        width: 90vw;
        max-width: 700px;
        margin: 3rem auto;
    }

    .packages {
        width: 90vw;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1rem;
    }

    .package {
        width: 30%;
        max-width: 500px;

        &__img {
            height: calc(100vw / 5);
        }

        &__info-container {
            height: 160px;
            row-gap: 0.1rem;
        }
    }
}
