<div class="customers">
    <h2 class="customers__title">Customers</h2>
    <p class="customers__info">Showing {{ customers.length }} customers</p>
    <p class="customers__info">
        Your total revenue is €{{
            totalRevenue.toLocaleString(undefined, {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            })
        }}
    </p>
    <div *ngFor="let customer of customers" class="customer">
        <div class="customer__icon-container">
            <img
                class="customer__icon"
                [src]="customer.user.profilePicUrl"
                [alt]="customer.user.name + ' picture'"
            />
        </div>
        <div class="customer__field-container">
            <p class="customer__field-name">Name:</p>
            <p class="customer__field-value">{{ customer.user.name }}</p>
        </div>
        <div class="customer__field-container">
            <p class="customer__field-name">Package:</p>
            <a
                [routerLink]="
                    '/surfcamp-packages/details/' + customer.package._id
                "
                class="customer__link"
            >
                <p class="customer__field-value">{{ customer.package.name }}</p>
            </a>
        </div>
        <div class="customer__field-container">
            <p class="customer__field-name">Price:</p>
            <p class="customer__field-value">€ {{ customer.package.price }}</p>
        </div>
        <div class="customer__field-container">
            <p class="customer__field-name">Booked At:</p>
            <p class="customer__field-value">
                {{ customer.bookedAt }}
            </p>
        </div>
    </div>
</div>
<app-button-back></app-button-back>
