@use "../../../scss/variables";

.customers {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.customer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    align-items: flex-start;
    transition: 0.3s ease all;
    row-gap: 1rem;

    &:hover {
        transform: scale(1.01);
        transition: 0.3s ease all;
    }
    &:hover .package__edit-btn {
        color: variables.$secondary-color;
        transition: 0.3s ease all;
    }

    &__icon-container {
        width: 30px;
    }
    &__icon {
        width: 100%;
        font-size: 0.5rem;
        border-radius: 50%;
    }

    &__field-container {
        display: flex;
        width: 100%;
    }

    &__field-name {
        width: 50%;
    }

    &__field-value {
        width: 50%;
        word-wrap: break-word;
    }

    &__link {
        &:hover {
            color: variables.$secondary-color-dark;
            transition: 0.3s ease all;
        }
    }

    &__info-btn {
        color: #979797;
        cursor: pointer;
        transition: 0.3s ease all;

        &:hover {
            color: variables.$secondary-color-dark !important;
            transition: 0.3s ease all;
        }
    }
}
