@use "../../../scss/variables";

.customers {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: variables.$primary-color;
    padding: 3rem;
    border-radius: 1rem;

    &__title {
        color: variables.$light-gray-color;
    }

    &__info {
        color: variables.$dark-gray-color;
    }
}

.customer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 6px 7px 13px -4px #000000;
    align-items: flex-start;
    transition: 0.3s ease all;
    row-gap: 1rem;
    background-color: variables.$tertiary-color;

    &:hover {
        transform: scale(1.01);
        transition: 0.3s ease all;
    }

    &__icon-container {
        width: 30px;
    }
    &__icon {
        width: 100%;
        font-size: 0.5rem;
        border-radius: 50%;
    }

    &__field-container {
        display: flex;
        width: 100%;
    }

    &__field-name {
        width: 50%;
        color: variables.$dark-gray-color;
    }

    &__field-value {
        width: 50%;
        word-wrap: break-word;
        color: variables.$light-gray-color;
    }

    &__link {
        text-decoration: none;
        color: variables.$secondary-color;

        &:hover {
            color: variables.$secondary-color-dark;
            transition: 0.3s ease all;
        }
    }

    &__info-btn {
        color: #979797;
        cursor: pointer;
        transition: 0.3s ease all;

        &:hover {
            color: variables.$secondary-color-dark !important;
            transition: 0.3s ease all;
        }
    }
}

@media (min-width: 768px) {
    .customers {
        border: 1px solid black;
        border-radius: 1rem;
        margin-top: 2rem;
        box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.2);
        padding: 2rem;
        width: 100vw;
        max-width: 700px;
        // background-color: variables.$primary-color;
    }

    .customer {
        &__icon-container {
            width: 50px;
        }

        &__field-container {
            display: flex;
            width: 100%;
        }

        &__field-name {
            width: 20%;
        }

        &__field-value {
            width: fit-content;
        }
    }
}
