<form [formGroup]="filterForm" (ngSubmit)="handleSubmit()" class="filter">
    <p class="filter__title">Filters</p>
    <app-star-container
        [rating]="filterForm.value.rating"
        (setRating)="setMinRating($event)"
    ></app-star-container>
    <div class="filter__checkbox-outer-container">
        <div class="filter__checkbox-container">
            <input
                type="checkbox"
                id="beginner"
                name="beginner"
                formControlName="skillBeginner"
            />
            <label class="filter__label" for="beginner">Beginner</label>
        </div>
        <div class="filter__checkbox-container">
            <input
                type="checkbox"
                id="intermediate"
                name="intermediate"
                formControlName="skillIntermediate"
            />
            <label class="filter__label" for="intermediate">Intermediate</label>
        </div>
        <div class="filter__checkbox-container">
            <input
                type="checkbox"
                id="advanced"
                name="advanced"
                formControlName="skillAdvanced"
            />
            <label class="filter__label" for="advanced">Advanced</label>
        </div>
        <div class="filter__checkbox-container">
            <input
                type="checkbox"
                id="expert"
                name="expert"
                formControlName="skillExpert"
            />
            <label class="filter__label" for="expert">Expert</label>
        </div>
    </div>
    <div class="filter__input-container">
        <input
            type="text"
            placeholder="Enter a location"
            class="filter__input"
            formControlName="location"
        />
    </div>
    <app-button [type]="'submit'" [text]="'Search'"></app-button>
</form>
