@use "../../scss/variables";

.loading {
    width: 50px;
    height: 50px;
    background-color: variables.$secondary-color;
    animation: rotate ease 3s infinite;
    align-self: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}
