@use "../../scss/variables";

.star-container {
    &__star {
        cursor: pointer;
        color: #cccccc;

        &--active {
            cursor: pointer;
            color: variables.$secondary-color;
        }
    }
}
