<nav class="menu" *ngIf="menuState">
    <div *ngIf="!auth || auth.role === ''" class="menu__auth-outer-container">
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/login"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faLockOpen"></fa-icon>
                <p>Login</p></a
            >
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/register/surfcamp"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faIdCard"></fa-icon>
                <p>Register Surfcamp</p>
            </a>
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/register/user"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faIdCard"></fa-icon>
                <p>Register User</p>
            </a>
        </div>
    </div>
    <div *ngIf="auth.role === 'surfcamp'" class="menu__auth-outer-container">
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/surfcamp-dashboard"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faFolderOpen"></fa-icon>
                <p>Dashboard</p></a
            >
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/surfcamp-packages"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faBox"></fa-icon>
                <p>Packages</p></a
            >
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/surfcamp-customers"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faPeopleCarry"></fa-icon>
                <p>Customers</p>
            </a>
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/surfcamp-info"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faInfoCircle"></fa-icon>
                <p>Surfcamp Info</p>
            </a>
        </div>
        <div class="menu__auth-container">
            <a
                (click)="logout()"
                class="menu__link"
                routerLink="/login"
                routerLinkActive="menu__link--active"
                ><fa-icon
                    class="menu__icon"
                    [icon]="faArrowCircleDown"
                ></fa-icon>
                <p>Logout</p>
            </a>
        </div>
    </div>
    <div *ngIf="auth.role === 'user'" class="menu__auth-outer-container">
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/surfer-dashboard"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faFolderOpen"></fa-icon>
                <p>Dashboard</p></a
            >
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/world-map"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faGlobe"></fa-icon>
                <p>World Map</p></a
            >
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/surfcamp-search"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faBox"></fa-icon>
                <p>Surfcamp Search</p></a
            >
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/package-search"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faBox"></fa-icon>
                <p>Package Search</p></a
            >
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/surfer/bookings"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faBox"></fa-icon>
                <p>Bookings</p></a
            >
        </div>
        <div class="menu__auth-container">
            <a
                (click)="toggleMenu()"
                class="menu__link"
                routerLink="/surfer/profile"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faInfoCircle"></fa-icon>
                <p>Profile</p>
            </a>
        </div>
        <div class="menu__auth-container">
            <a
                (click)="logout()"
                class="menu__link"
                routerLink="/login"
                routerLinkActive="menu__link--active"
                ><fa-icon
                    class="menu__icon"
                    [icon]="faArrowCircleDown"
                ></fa-icon>
                <p>Logout</p>
            </a>
        </div>
    </div>
</nav>
