<nav class="menu" *ngIf="menuState">
    <div class="menu__auth-outer-container">
        <div class="menu__auth-container">
            <a
                class="menu__link"
                routerLink="/login"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faLockOpen"></fa-icon>
                <p>Login</p></a
            >
        </div>
        <div class="menu__auth-container">
            <a
                class="menu__link"
                routerLink="/register"
                routerLinkActive="menu__link--active"
                ><fa-icon class="menu__icon" [icon]="faIdCard"></fa-icon>
                <p>Register</p>
            </a>
        </div>
    </div>
</nav>
