@use "../../../scss/variables";

.package {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 90vw;
    max-width: 400px;

    &__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__inner-title-container {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    &__p-icon-container {
        width: 50px;
    }

    &__p-icon {
        width: 100%;
        border-radius: 50%;
    }

    &__icon-container {
        display: flex;
        column-gap: 1rem;
    }

    &__icon {
        font-size: 1.5rem;
        color: #979797;
        cursor: pointer;
        transition: 0.3s ease all;

        &:hover {
            color: variables.$secondary-color-dark !important;
            transition: 0.3s ease all;
        }
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__label {
        font-weight: bold;
    }

    &__input {
        padding: 0.8rem 0.8rem;
        border-radius: 1.5rem;
        border: none;
    }

    &__info {
        width: 90%;
        word-wrap: break-word;
    }
}
