$primary-color: #222831;
$primary-color-transparent: rgba(34, 40, 49, 0.7);
$secondary-color-bright: #c0bfff;
$secondary-color: #00adb5;
$secondary-color-dark: #018d94;
$tertiary-color: #393e46;

$inactive-link-color: #eeeeee;
$active-link-color: #00adb5;
$light-gray-color: #eeeeee;
$dark-gray-color: #888888;
