@use "./scss/variables";

.notification {
    position: absolute;
    z-index: 5;
    background-color: variables.$secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    animation: move 9s ease;
}

@keyframes move {
    0% {
        left: 100vw;
    }
    10% {
        left: 0;
    }
    90% {
        left: 0;
    }
    100% {
        left: 100vw;
    }
}
