@use "./scss/variables";

.notification {
    position: absolute;
    z-index: 5;
    background-color: variables.$primary-color;
    border: 1px solid variables.$secondary-color;
    color: variables.$light-gray-color;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: move 9s ease;
    border-radius: 1rem;
    padding: 2rem;
}

@keyframes move {
    0% {
        left: 100vw;
    }
    10% {
        left: 0;
    }
    90% {
        left: 0;
    }
    100% {
        left: 100vw;
    }
}
