.header {
    height: 90px;
    background-color: #8fc8e1;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-container {
        height: 90%;
    }

    &__logo {
        height: 100%;
    }

    &__burger {
        font-size: 1.5rem;
    }
}
