@use "../../scss/variables";

.header {
    height: 90px;
    background-color: variables.$primary-color;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-container {
        height: 90%;
    }

    &__logo {
        height: 100%;
    }

    &__burger {
        font-size: 1.5rem;
        cursor: pointer;
        color: variables.$light-gray-color;
    }

    &__desktop-menu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 1rem 3rem;

        &__burger {
            display: none;
        }

        &__desktop-menu {
            display: block;
        }
    }
}
