@use "../../scss/variables";

.gallery-outer-container {
    background-color: variables.$primary-color;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    align-items: center;

    &--height {
        min-height: 100vh;
    }

    &__title {
        color: variables.$light-gray-color;
    }

    &__overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        top: 0;
        margin-top: -1rem;
        height: calc(100% + 2rem);
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex;
        padding-top: 4rem;
        column-gap: 1rem;
        user-select: none;
    }

    &__arrow {
        color: variables.$secondary-color;
        font-size: 1.5rem;
        align-self: center;
        cursor: pointer;
        transition: 0.3s ease all;
        position: relative;
        margin-top: -30rem;

        &:hover {
            color: variables.$secondary-color-dark;
            transition: 0.3s ease all;
        }

        &--left {
        }
        &--right {
        }
    }

    &__overlay-exit-icon {
        position: absolute;
        right: 40px;
        top: 40px;
        color: variables.$secondary-color;
        font-size: 2rem;
        cursor: pointer;
        transition: 0.3s ease all;

        & path {
            pointer-events: none;
        }

        &:hover {
            color: variables.$secondary-color-dark;
            transition: 0.3s ease all;
        }
    }

    &__overlay-outer-container {
        width: 70%;
    }

    &__overlay-photo-container {
        width: 100%;
    }

    &__overlay-img {
        width: 100%;
        display: block;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__overlay-text-container {
        background-color: variables.$tertiary-color;
        padding: 2rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        color: variables.$light-gray-color;
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 1rem;
    padding: 3rem;
}

.photo {
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease all;

    &:hover {
        transition: 0.3s ease all;
        transform: scale(1.1);
    }

    &__img {
        width: 100%;
        display: block;
    }
}

.hide {
    display: none;
}

@media screen and (min-width: 768px) {
    .gallery-outer-container {
        &__arrow {
            color: variables.$secondary-color;
            font-size: 2rem;
            align-self: center;
            cursor: pointer;
            transition: 0.3s ease all;
            position: relative;
            margin-top: -30rem;
        }
    }

    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .photo {
        width: 30%;
    }
}
