<form (ngSubmit)="handleSubmit()" [formGroup]="newPhotoForm" class="new-photo">
    <h2 class="new-photo__title">Add Photo</h2>
    <div class="new-photo__input-container">
        <label class="new-photo__label--photo" for="photo">Upload Photo</label>
        <input
            class="new-photo__input"
            id="photo"
            type="file"
            (change)="handleFileInput($event)"
        />
    </div>
    <div class="new-photo__input-container">
        <label class="new-photo__label" for="description">Description:</label>
        <input
            class="new-photo__input"
            id="description"
            type="text"
            formControlName="description"
            placeholder="Enter a description for the photo"
        />
    </div>
    <app-button [type]="'submit'" [text]="'Add Photo'"></app-button>
</form>
<app-button-back></app-button-back>
