.register {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 90vw;
    max-width: 400px;

    &__title {
        margin-bottom: 1rem;
    }

    &__registration-error {
        color: red;
        font-size: 1.5rem;
    }

    &__error-container {
        color: red;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__input {
        padding: 0.8rem 0.8rem;
        border-radius: 1.5rem;
        border: none;
    }

    &__validation-message {
        color: red;
    }
}
