<form [formGroup]="filterForm" (ngSubmit)="handleSubmit()" class="filter">
    <p class="filter__title">Filters</p>
    <app-star-container
        [rating]="filterForm.value.rating"
        (setRating)="setMinRating($event)"
    ></app-star-container>
    <app-skills-form
        (skillChanged)="changeSkillValue($event)"
    ></app-skills-form>
    <div class="filter__input-container">
        <input
            type="text"
            placeholder="Enter a location"
            class="filter__input"
            formControlName="location"
        />
    </div>
    <div class="filter__input-container">
        <input
            type="text"
            placeholder="Maximum price"
            class="filter__input"
            formControlName="price"
        />
    </div>
    <div class="filter__input-container">
        <input
            type="text"
            placeholder="Maximum days"
            class="filter__input"
            formControlName="days"
        />
    </div>
    <app-button [type]="'submit'" [text]="'Search'"></app-button>
</form>
{{ filterForm.value | json }}
