@use "../../../scss/variables";

.filter {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    &__title {
        font-weight: bold;
    }

    &__star {
        cursor: pointer;
        color: #cccccc;

        &--active {
            cursor: pointer;
            color: variables.$secondary-color;
        }
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__input {
        padding: 0.8rem 0.8rem;
        border-radius: 1.5rem;
        border: none;
    }
}
