<form
    class="register"
    [formGroup]="registerSurfcampForm"
    (ngSubmit)="handleSubmit()"
>
    <h2 class="register__title">Register your Surfcamp</h2>
    <p>Already have an account? Click here to sign in.</p>
    <p class="register__registration-error" *ngIf="registrationError">
        An Error Ocurred while registering, please check you filled the fields
        correctly.
    </p>
    <div class="register__input-container">
        <label class="register__label" for="name">Surfcamp Name:</label>
        <div
            *ngIf="name?.invalid && (name?.dirty || name?.touched)"
            class="register__error-container"
        >
            <div *ngIf="name?.errors?.['required']">Name is required.</div>
            <div *ngIf="name?.errors?.['minlength']">
                Name must be at least 4 characters long.
            </div>
        </div>
        <input
            class="register__input"
            id="name"
            type="text"
            placeholder="Enter the surfcamp's name"
            formControlName="name"
        />
    </div>
    <div class="register__input-container">
        <label class="register__label" for="name">Surfcamp Location:</label>
        <div
            *ngIf="location?.invalid && (location?.dirty || location?.touched)"
            class="register__error-container"
        >
            <div *ngIf="location?.errors?.['required']">
                Location is required.
            </div>
        </div>
        <input
            class="register__input"
            id="location"
            type="text"
            placeholder="Enter the surfcamp's location"
            formControlName="location"
        />
    </div>
    <div class="register__input-container">
        <label class="register__label" for="email">Email:</label>
        <div
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            class="register__error-container"
        >
            <div *ngIf="email?.errors?.['required']">Email is required.</div>
            <div *ngIf="email?.errors?.['email']">
                You have to enter a valid email address.
            </div>
        </div>
        <input
            class="register__input"
            id="email"
            type="text"
            placeholder="Enter your email"
            formControlName="email"
        />
    </div>
    <div class="register__input-container">
        <label class="register__label" for="email">Username:</label>
        <div
            *ngIf="username?.invalid && (username?.dirty || username?.touched)"
            class="register__error-container"
        >
            <div *ngIf="username?.errors?.['required']">
                Username is required.
            </div>
            <div *ngIf="username?.errors?.['minlength']">
                Username must be at least 6 characters long.
            </div>
        </div>
        <input
            class="register__input"
            id="username"
            type="text"
            placeholder="Enter your username"
            formControlName="username"
        />
    </div>
    <div class="register__input-container">
        <label class="register__label" for="password">Password:</label>
        <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="register__error-container"
        >
            <div *ngIf="password?.errors?.['required']">
                Password is required.
            </div>
            <div *ngIf="password?.errors?.['minlength']">
                Password must be at least 6 characters long.
            </div>
        </div>
        <input
            class="register__input"
            id="password"
            type="password"
            placeholder="Enter your password"
            formControlName="password"
        />
    </div>
    <div class="register__input-container">
        <label class="register__label" for="confirm-password"
            >Confirm password:</label
        >
        <div
            *ngIf="
                confirmPassword?.invalid &&
                (confirmPassword?.dirty || confirmPassword?.touched)
            "
            class="register__error-container"
        >
            <div *ngIf="confirmPassword?.errors?.['required']">
                Password confirmation is required.
            </div>
            <div *ngIf="confirmPassword?.errors?.['pattern']">
                Passwords do not match.
            </div>
        </div>
        <input
            class="register__input"
            id="confirm-password"
            type="password"
            placeholder="Confirm your password"
            formControlName="confirmPassword"
            [pattern]="password?.value"
        />
    </div>
    <div class="register__input-container">
        <p class="register__label">
            Choose the skill levels your clients should have:
        </p>
        <div
            *ngIf="
                (beginner?.dirty ||
                    beginner?.touched ||
                    intermediate?.dirty ||
                    intermediate?.touched ||
                    advanced?.dirty ||
                    advanced?.touched ||
                    expert?.dirty ||
                    expert?.touched) &&
                !registerSurfcampForm.value.beginner &&
                !registerSurfcampForm.value.intermediate &&
                !registerSurfcampForm.value.advanced &&
                !registerSurfcampForm.value.expert
            "
            class="register__error-container"
        >
            <p>You have to select at least one skill</p>
        </div>
        <div class="register__checkbox-outer-container">
            <div class="register__checkbox-container">
                <input
                    type="checkbox"
                    id="beginner"
                    name="beginner"
                    formControlName="beginner"
                />
                <label class="register__label" for="beginner">Beginner</label>
            </div>
            <div class="register__checkbox-container">
                <input
                    type="checkbox"
                    id="intermediate"
                    name="intermediate"
                    formControlName="intermediate"
                />
                <label class="register__label" for="intermediate"
                    >Intermediate</label
                >
            </div>
            <div class="register__checkbox-container">
                <input
                    type="checkbox"
                    id="advanced"
                    name="advanced"
                    formControlName="advanced"
                />
                <label class="register__label" for="advanced">Advanced</label>
            </div>
            <div class="register__checkbox-container">
                <input
                    type="checkbox"
                    id="expert"
                    name="expert"
                    formControlName="expert"
                />
                <label class="register__label" for="expert">Expert</label>
            </div>
        </div>
    </div>
    <div class="register__input-container">
        <label class="register__label" for="name">Description:</label>
        <textarea
            class="register__input"
            formControlName="description"
            name="description"
            id="description"
            cols="30"
            rows="10"
        ></textarea>
    </div>
    <app-button [type]="'submit'" [text]="'Register'"></app-button>
</form>
