<div class="packages">
    <h2 class="packages__title">{{ surfcamp.name }} Packages</h2>
    <p class="packages__info">
        Showing {{ surfcamp.packages && surfcamp.packages.length }} packages
    </p>
    <div
        (click)="goToPackage(package._id)"
        *ngFor="let package of surfcamp.packages"
        class="package"
    >
        <div class="package__info-container">
            <div class="package__icon-container">
                <img
                    [src]="package.icon"
                    [alt]="package.name + ' icon'"
                    class="package__icon"
                />
            </div>
            <p class="package__name">{{ package.name }}</p>
            <p class="package__nights">{{ package.days }} nights</p>
            <p class="package__price">€{{ package.price }}</p>
        </div>
    </div>
    <app-button-back></app-button-back>
</div>
