@use "../../scss/variables";

.bookings {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: variables.$primary-color;
    color: white;
    padding: 3rem;
    border-radius: 1rem;
}

.booking {
    border: 1px solid rgb(184, 184, 184);
    padding: 1rem;
    border-radius: 1rem;
    background-color: #e2e2e2;
    box-shadow: 8px 8px 8px -2px rgba(0, 0, 0, 0.4);
    display: flex;
    column-gap: 2rem;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease all;
    color: variables.$primary-color;

    &:hover {
        transform: scale(1.01);
        transition: 0.3s ease all;
    }

    &__info-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__name {
        font-size: 0.9rem;
        font-weight: bold;
    }

    &__nights {
        font-size: 0.7rem;
    }

    &__price-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .bookings {
        width: 100vw;
        max-width: 500px;
        align-items: center;
        border: 1px solid black;
        border-radius: 1rem;
        margin-top: 2rem;
        box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.2);
        padding: 2rem;
    }
}
