@use "../../scss/variables";

.comments {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.comment {
    padding: 2rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 6px 7px 13px -4px #000000;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: variables.$tertiary-color;

    &__star-container {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__star {
        &--yellow {
            color: variables.$secondary-color;
        }
        &--grey {
            color: rgb(204, 204, 204);
        }
    }

    &__user-info-container {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    &__img-container {
        width: 40px;
    }

    &__img {
        width: 100%;
        border-radius: 50%;
    }

    &__name {
        color: variables.$dark-gray-color;
    }

    &__text {
        color: variables.$light-gray-color;
    }
}
