<div class="surfcamp">
    <div class="surfcamp__hero">
        <div class="surfcamp__img-container">
            <img
                [src]="
                    surfcamp.photos[0]
                        ? surfcamp.photos[0].photoUrl
                        : 'https://m.psecn.photoshelter.com/img-get2/I0000eXqe0K.cKrg/sec=/fit=1200x1200/I0000eXqe0K.cKrg.jpg'
                "
                alt=""
                class="surfcamp__img"
            />
        </div>
    </div>
    <h2 class="surfcamp__title">{{ surfcamp.name }}</h2>
    <div class="surfcamp__button-container">
        <a
            [routerLink]="'/surfcamp-packages/' + surfcamp._id"
            class="surfcamp__link"
            >Packages</a
        >
        <a
            [routerLink]="'/surfcamp-reviews/' + surfcamp._id"
            class="surfcamp__link"
            >Reviews</a
        >
        <a
            [routerLink]="'/surfcamp-gallery/' + surfcamp._id"
            class="surfcamp__link"
            >Gallery</a
        >
        <a routerLink="/surfcamp-info" class="surfcamp__link">Information</a>
    </div>
</div>
