@use "../../scss/variables";

.surfcamp {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;

    &__hero {
        margin: -1rem;
        display: flex;
        flex-direction: column;
    }

    &__img-container {
        width: 100%;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__links-container {
        background-color: variables.$primary-color;
        padding: 3rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        width: 90vw;
        max-width: 600px;
    }

    &__title {
        color: variables.$light-gray-color;
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 1rem;
    }

    &__link {
        display: block;
        background-color: variables.$secondary-color;
        border: none;
        padding: 0.9rem 0.9rem;
        border-radius: 2rem;
        color: white;
        width: 100%;
        letter-spacing: 1px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s ease all;

        &:hover {
            background-color: variables.$secondary-color-dark;
            transition: 0.3s ease all;
        }
    }
}

@media screen and (min-width: 768px) {
    .surfcamp {
        &__hero {
            width: 100vw;
            height: 300px;
            overflow: hidden;
        }

        &__img-container {
            width: 100vw;
        }

        &__img {
            margin-top: -300px;
        }

        &__button-container {
            max-width: 300px;
        }
    }
}
